.form-wrapper-mini {
  height: 100vh;
  margin-left: 240px;
  width: calc(100% - 240px);
  background-color: #F9F9F9;
  padding-top: 8rem;
}

.form-wrapper {
  height: 100vh;
  margin-left: 88px;
  width: calc(100% - 88px);
  background-color: #F9F9F9;
  padding-top: 8rem;
}
