.update-video-mini {
  height: 100vh;
  margin-left: 240px;
  width: calc(100% - 240px);
  background-color: #f9f9f9;
  margin-top: 6rem;
  padding-top: 2rem;
}

.update-video {
  height: 100vh;
  margin-left: 88px;
  width: calc(100% - 88px);
  background-color: #f9f9f9;
  margin-top: 6rem;
  padding-top: 2rem;
}

.update-video-form {
  padding: 2rem;
  width: 90%;
  background-color: white;
  margin: 0 auto;
  max-width: 80rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
}
