.user-menu-list {
  position: absolute;
  z-index: 1000;
  margin-top: 14rem;
  width: 150px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 20px;
  transition: all 0.2s ease;
}

.user-menu-item {
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
}

.user-menu-item span {
  font-size: 14px;
  color: black;
  font-weight: 700;
  margin-left: 10px;
}

.user-menu-item:hover {
  background-color: #eee;
}
