.new-video-form-mini {
  padding: 2rem;
  width: 90%;
  background-color: white;
  margin: 0 auto;
  max-width: 80rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
}
.new-video-form {
  padding: 2rem;
  width: 90%;
  background-color: white;
  margin: 0 auto;
  max-width: 80rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
}