.delete-icon {
  position: relative;
}

.delete-icon::after {
  position: absolute;
  content: "";
  top: 18px;
  left: -10px;
  width: 30px;
  background-color: transparent;
  border-radius: 10px;
  font-size: 8px;
  padding: 0.5rem;
  z-index: 999999;
  transition: all 0.5s ease;
  cursor: pointer;
}

.delete-icon-text {
  position: absolute;
  top: 26px;
  left: -8px;
  background-color: #444;
  color: whitesmoke;
  border-radius: 10px;
  font-size: 8px;
  padding: 0.5rem;
  z-index: 999999;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.delete-icon:hover .delete-icon-text {
  opacity: 1;
}
